/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    display: flex;
    width: 80%;
    max-width: 900px;
    height: 400px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image-container {
    width: 50%; /* Define 50% da largura para a imagem */
    height: 100%;
    overflow: hidden; /* Garante que a imagem não ultrapasse o limite da área */
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Faz com que a imagem cubra totalmente a área disponível */
}

.form-container {
    width: 50%; /* Define 50% da largura para o formulário */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #2196f3;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0d47a1;
}

p {
    text-align: center;
}

a {
    color: #0d47a1;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Estilos do Cadastro */
.register-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.register-container form {
    margin-bottom: 20px;
}

/* Adicionando espaço entre os novos campos */
.register-container input {
    margin-bottom: 10px;
}